.nav {
  width: 720px;
  margin-right: auto;
  margin-left: auto;
  &__item {
    box-sizing: border-box;
    float: left;
    width: 120px;
    border-left: 1px solid #fff;
    text-align: center;
    > a {
      &:hover {
        border-bottom: 1px solid #fff;
      }
      > img {
        vertical-align: baseline;
      }
    }
    &:last-child {
      border-right: 1px solid #fff;
    }
  }
}
