section.section
  .container
    h2.section__heading
      span
        img(src="images/section__heading--feature.png" alt="feature")
    .section__body.cf
      each val, i in ['memory', 'dinner', 'hotel']
        .item
          .item__icon
            span.item__name= val
          p.item__body Ipsum voluptas maxime nobis autem nisi! Natus doloribus tempora voluptates neque quidem.

