header.header
  .container.cf
    h1.logo
      img(src="images/logo.png" alt="schoo tours")
    nav.gnav.cf
      ul
        each val, i in ['feature', 'movie', 'city', 'nature', 'map', 'voice']
          li.gnav__item
            a(href="##{val}")
              img(src="images/nav--#{val}.png" alt="#{val}")
  img.header__copy(src="images/copy.png" alt="Discover The World")
  .slide#js-slide
    ul
      - for (var i = 0; i < 4; i++)
        li
          img(src="images/slide-#{i+1}.jpg" alt="")
  i.slide-prev.fa.fa-angle-left#js-slide-prev
  i.slide-next.fa.fa-angle-right#js-slide-next
  span.btn#js-btn tour now
