doctype html
html(lang="ja")
  head
    meta(charset='UTF-8')
    title schoo-tours
    meta(content='IE=edge', http-equiv='X-UA-Compatible')
    meta(content='author', name='author')
    meta(content='description', name='description')
    meta(content='keywords', name='keywords')
    meta(content='width=device-width, initial-scale=1' name='viewport')
    meta(content='telephone=no', name='format-detection')

    link(rel='stylesheet', href='styles/style.css', media='all')
  body
    header.header
      .container.cf
        h1.logo
          img(src="images/logo.png" alt="schoo tours")
        nav.gnav.cf
          ul
            each val, i in ['feature', 'movie', 'city', 'nature', 'map', 'voice']
              li.gnav__item
                a(href="##{val}")
                  img(src="images/nav--#{val}.png" alt="#{val}")
      img.header__copy(src="images/copy.png" alt="Discover The World")
      .slide
        ul
          li
            img(src="images/slide-1.jpg" alt="")

    section.section
      .container
        h2.section__heading
          span
            img(src="images/section__heading--feature.png" alt="feature")
        .section__body.cf
          each val, i in ['memory', 'dinner', 'hotel']
            .item
              .item__icon
                span.item__name= val
              p.item__body Ipsum voluptas maxime nobis autem nisi! Natus doloribus tempora voluptates neque quidem.

    section.section.secondary
      .container
        h2.section__heading
          span
            img(src="images/section__heading--movie.png" alt="movie")
        .section__body
          .section__p Amet quis ipsa perferendis vel eum modi porro similique quia. Suscipit minima voluptas quasi quibusdam rerum at nihil numquam fugit labore ullam mollitia deserunt officia hic exercitationem doloribus dolorem nostrum.
        iframe(src="https://www.youtube.com/embed/BUoYWcbDCXI" width="960" height="540" frameborder="0")



    // build:js scripts/main.js
    script(src='scripts/script.js')
    // endbuild
